<% content_for(:head) do %>
  <title><%= @landing_page.title  %></title>

  <% if @landing_page %>
    <meta name="subject" content="<%= @landing_page.campaign.try(:name) %>"/>
    <meta name="Description" content="<%= @landing_page.campaign.try(:description) %>"/>
    <meta name="Classification" content="<%= @landing_page.campaign.try(:categories).join(",") %>"/>
    <meta name="Robots" content="INDEX,NOFOLLOW"/>
    <!-- meta name="Keywords" content="hhh,hhhhh"/>
    <meta name="Geography" content="gggggg"/>
    <meta name="Language" content="iiiii"/>
    <meta HTTP-EQUIV="Expires" content=""/>
    <meta name="Revisit-After" content=""/>
    <meta name="distribution" content="Global"/>
    <meta name="country" content=""/-->
  <%  end %>
<% end %>

<%= render 'template' %>

