
<% content_for :head do %>
  <%= stylesheet_link_tag "lib/ui-lightness/jquery-ui-1.8.14.custom"  %>
  <%= javascript_include_tag "jquery-ui-1.8.14.dialog.min" %>
<% end %>

<h3> Panel de administración de campañas </h3>

<table class="admin_table_1" border="0" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <%= content_tag :th, "Campaña" %>
      <%= content_tag :th, "Creador" %>
      <%= content_tag :th, "Estado" %>
      <%= content_tag :th, "Tipo" %>
      <%= content_tag :th, "Inicio"  %>
      <%= content_tag :th, "Fin" %>
      <%= content_tag :th, "Presupuesto" %>
      <%= content_tag :th, "Fecha de creación" %>
      <%= content_tag :th, "Acciones" %>
    </tr>
  </thead>
  <tbody id="mycamps">
    <% if !@campaigns.nil? %>
      <% for campaign in @campaigns %>
        <tr id="row_<%=  campaign.id %>" style="border-bottom:solid; border-bottom-width: 1px; border-bottom-color: #09F;">
          <td><%#= link_to_remote campaign.name , :url => {:action => :campaign_info, :campaign_id => campaign.id}%>
            <a href="#">
              <%= campaign.name %>
            </a>
          </td>
           <td>
            <%=  campaign.owner.try :email %>
          </td>
          <td id="status_<%=  campaign.id %>">
            <%=  campaign.status ? campaign.status : "-" %>
          </td>

          <% if campaign.mode == CampaignMode::PayPerClick %>
            <td>PPC</td>
          <% elsif  campaign.mode == CampaignMode::PayPerHit %>
            <td>PPH</td>
          <% else %>
            <td> - </td>
          <% end %>

          <td><%= campaign.begin_date %> </td>

          <% if campaign.have_end_date %>
            <td><%= campaign.end_date %> </td>
          <% else %>
            <td> - </td>
          <% end %>
          <% if campaign.budget %>
            <td>$ <%= campaign.budget.current %> </td>
            <td> <%= campaign.budget.created_at %> </td>
          <% else %>
            <td> - </td>
            <td> - </td>
          <% end %>
          <td >
            <%= button_to_remote "Aprobar",:url => activate_campaign_path(campaign.id), :method => :post, :update => {:success => "status_#{campaign.id}"}  %>

            <%= button_to_function "Desaprobar","campaign_id = #{campaign.id}; $( '#dialog-form').dialog('open');" %>

    <%#= button_to_remote "Desaprobar",:url => disapprove_campaign_path(campaign.id), :method => :post  %>

            <% if campaign.landing_page %>
              <%= button_to_function "Landing",  "window.location.href='#{campaign.link(nil,nil,false)}?test=true'"%>
            <% end %>
            <%= button_to_remote "Borrar",:url => campaign_path(campaign.id), :method => :delete, :success => "$('#row#{campaign.id}').remove()"  %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody >
</table>

<br/>
<%= paginate @campaigns %>
<br/>
<%= page_entries_info @campaigns %>


<div id="dialog-form" title="Desaprobar campaña">
  <% form_tag :url => disapprove_campaign_path(1) do  %>
    <fieldset>
      <%= label_tag "Motivo: "%>
      <%= text_area_tag :message, "Complete el motivo de la desaparobacion", :cols => 35, :rows => 4,
        :class => "text ui-widget-content ui-corner-all" %>

    </fieldset>
  <% end %>
</div>


<script type="text/javascript">
  var campaign_id = null;
  $(function() {

    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 400,
      modal: true,
      buttons: {
        "Enviar": function() {
          var bValid = true;


          if ( bValid ) {
            $.ajax(
            {data:'&authenticity_token=' + encodeURIComponent('<%=  form_authenticity_token  %>'),
              dataType:'text',
              type:'post',
              url:'/campaigns/'+campaign_id+'/disapprove',
              success: function(response){
                $("#status_" + campaign_id).first().html(response);
              }

            });

            $( this ).dialog( "close" );
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {

      }
    });


  });




</script>


<style type="text/css">

</style>

