
<% content_for :head do %>
  <%= stylesheet_link_tag "lib/ui-lightness/jquery-ui-1.8.14.custom"  %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js',"jquery-ui-1.8.14.dialog.min" %>
<% end %>

<h3> Panel de administración de Solicitudes de Pago</h3>

<table class="admin_table_1" border="0" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <%= content_tag :th, "Usuario" %>
      <%= content_tag :th, "Email" %>
      <%= content_tag :th, "Dinero Solicitado" %>
      <%= content_tag :th, "Estado" %>
      <%= content_tag :th, "Creada" %>
      <%= content_tag :th, "Acciones" %>
    </tr>
  </thead>
  <tbody id="mycamps">

      <% for payment in @payment_requests %>
        <tr style="border-bottom:solid; border-bottom-width: 1px; border-bottom-color: #09F;">
          <td><%= payment.user.username %> </td>
          <td><%= payment.user.email %> </td>
          <td><%= payment.requested_money %></td>
          <td><%= t payment.status %></td>
          <td><%= payment.created_at %></td>
          <td ><%= link_to "Ver", admin_edit_payment_request_path(payment) %></td>
        </tr>
      <% end %>

  </tbody >
</table>

<br/>
<%= paginate @payment_requests %>
<br/>
<%= page_entries_info @payment_requests %>

