

<!--% form_remote_tag(:update => "simulation" , :controller => "admin" , :action => "simulator_back") do %-->

<% form_remote_tag(:update => "simulation", :url => { :action => "simulator_back" }) do %>

 <p>
   Ingrese el fee de la plataforma por click:<br />
   <%= text_field_tag "fee" %>
 </p>
 <p>
   Ingrese profundidad de viralidad:<br />
   <%= text_field_tag "level" %>
 </p>
<p>
   Ingrese el CTR de facebook:<br />
   <%= text_field_tag "ctr_facebook" %>
 </p>
<p>
   Ingrese el CTR de twitter:<br />
   <%= text_field_tag "ctr_twitter" %>
 </p>
<p>
   Ingrese el numero inicial de friends en Facebook:<br />
   <%= text_field_tag "num_seed_facebook" %>
 </p>
<p>
   Ingrese el numero inicial de followers en twitter:<br />
   <%= text_field_tag "num_seed_twitter" %>
 </p>
<p>
   Ingrese el numero de friends promedio en Facebook:<br />
   <%= text_field_tag "num_standart_facebook" %>
 </p>
<p>
   Ingrese el numero de followers promedio en twitter:<br />
   <%= text_field_tag "num_standart_twitter" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<div id="simulation"></div>


