<div id="campaing" style="width:785px;">
  <h3><%=  t("create.step.three.title") %></h3>
      <ul id="pasos3">
    <li id="pasoapaso" style="width:75px;"><%=  t("create.steps.five") %></li>
    <li id="pasoapaso"><%=  t("create.steps.four") %></li>
    <li id="pasoapaso"><%=  t("create.steps.three") %></li>
    <li id="pasoapaso"><%=  t("create.steps.two") %></li>
    <li id="pasoapaso"><%=  t("create.steps.one") %></li>
  </ul>
  <br /><br />

  <%= form_for @campaign, :url => campaign_rewards_path(@campaign)  do |f| %>
    <div style="width:100%; float: left; height: 371px">
      <%= hidden_field_tag "save_and_next", "yes" %>

      <div id="square">
        <h4>Recompensas seleccionadas</h4>
        <% @campaign.products.each do |product| %>
          <ul>
            <li>
              <%= product.name %>
              <%= product.description %>
              <%= product.quantity %>
              <%= product.points %>
            </li>
          </ul>
        <% end %>
      </div>

      <div id="square">
        <h4>Recompensas seleccionadas</h4>
        <% @campaign.rewards.each do |reward| %>
          <ul>
            <li>
              <%= reward.quantity %>

            </li>
          </ul>
        <% end %>
      </div>

      </div>
      <div class="step" style="margin-top: 116px;">
        <% if false && @campaign.rewards.size > 0 %>
          <div class="flash_error" id="first_step_error">
            <%#= error_messages_for(:budget, :header_message => nil, :message => nil).html_safe %>
          </div>
        <% end %>

        <%= link_to t("create.back"), step_categories_path(@campaign.id), :class => "back" %>
        <%= f.submit t("create.save"), :class=> "saved",:onclick => "$('#save_and_next').val('no')" %>
        <%= f.submit t("create.savenext"), :class=> "savenext", :onclick => "$('#save_and_next').val('yes')"  %>
        <% if  @campaign.rewards.size > 0 %>
          <%= link_to t("create.next"), step_landing_path(:campaign_id => @campaign.id), :class => "next" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


