<% content_for :head do %>
  <%= stylesheet_link_tag 'public_site_style', :rel=> 'stylesheet', :title => "user" %>
<% end %>

<div id="header">
  <div id="logo"><%=link_to(image_tag('logo_lc.png', :size => '200x50', :border=> '0'), {:controller=> 'welcome', :action => 'home'}) %></div>
  <div id="menu">
    <div id="btn2" class="btn" onmouseover="this.className='btnactive'" onmouseout="this.className='btn'">
      <%=t("_one_header_5")%>

      <p><%= link_to t("_one_header_1"), :action => "p_quienes" %></p>
      <p><%= link_to t("_one_header_2"), :action => "equipo" %></p>
      <p><%= link_to t("_one_header_3"), :action => "tyc" %></p>
      <p><%= link_to t("_one_header_4"), :action => "privacy" %></p>
    </div>
    <div id="btn3" class="btn" onmouseover="this.className='btnactive'" onmouseout="this.className='btn'">
      <%=t("_one_header_10")%>

      <p><%= link_to t("_one_header_6"), :action => "p_funcionamiento" %></p>
      <p><%= link_to t("_one_header_7"), :action => "c_funcionamiento" %></p>
    </div>

    <div id="btn4" class="btn">
      <%= link_to t("_one_header_8"), :action => "servicios" %>
    </div>
    <div id="btn5" class="btn">
      <%= link_to t("_one_header_9"), :action => "contacto" %>
    </div>

  </div>
  <div id="login">
    <% if user_signed_in? %>
     <%= link_to t("my_panel"), user_root_path, :id => 'Panel', :class => "login_btn" %>
    <% end %>
    <% unless user_signed_in? %>
      <%= link_to t("sign_in"), new_user_session_path, :class => "login_btn" %>
    <% end %>
  </div>
  <div id="langchange" style="float: left">
    <%=link_to(image_tag('flag_es.png', :size => '12x50', :border=> '0'),
    {:controller=> 'welcome', :action => 'home'}) %>
  </div>
</div>
