<% content_for :head do %>
<title>Contacto</title>
<% end %>

<% content_for :header do %>
<%= render :partial => "two_header" %>
<% end %>


<div id="highlights"></div>
<div id="detail">
  <div id="desc"><h1><%= t("contact.title") %></h1><br /><br />
    <%= form_for :contact, :url => {  :action => 'send_contact'  } , :html => { :id => "contact" } do |f| %>
      <div>
        <h3>  <%= label_tag :name, t("contact.name") , :size => "30"%>      </h3>
        <p>   <%= f.text_field :name, :size => "30", :maxlength => '50' %>  </p>

        <h3>  <%= label_tag :email, t("contact.mail") %>                    </h3>
        <p>   <%= f.text_field :email, :size => "30", :maxlength => '50' %> </p>
        <h3>  <%= label_tag :message, t("contact.msg") %>                   </h3>
        <p>   <%= f.text_area :message, :size => "60x12" %>                 </p>
        <%= f.submit t("contact.send") , :class =>"savenext", :id => 'sign_up_btn'  %>
      </div>
    <% end %>
  </div>
</div>
<%= render :partial => "last_campaigns", :locals => {:last_campaigns => @last_campaigns} %>