<div id="post_<%= post.id%>" >
  <div class="post_item">
    <div class="<%= h post.channel %>_icon32" ></div>
  

  <strong><%= h post.message %></strong>
  
  <% if post.posted_at  %>
    <strong> - <%= t("promote.post") %> </strong> <%= l post.posted_at.in_time_zone(current_user.time_zone || 'utc'), :format => :friendly %>
  <% else %>
    <strong> - <%= t("promote.prog") %> <%= l post.when_post.in_time_zone(current_user.time_zone || 'utc'), :format => :friendly %></strong>

    <%=link_to_remote(image_tag('Delete-16.png', :size => '16x16', :border=> '0', :align => "texttop", :title => t("promote.canc")), {:url => campaign_post_path(post.campaign_id, post.id, :remove => true), :method => :delete,
      :loaded => "$('#loading_#{post.id}').hide();", :loading => "$('#loading_#{post.id}').show();"}) %>
     <%= link_to t("promote.edit"), edit_campaign_post_path(:campaign_id => post.campaign_id, :id => post.id) %>

    <div id="loading_<%= post.id %>" style="display:none">
      <%= image_tag "icons/ajax-loader_2.gif" %>
    </div>
</div>
  <% end %>
</div>

