<div id="campaing" style="width:785px">
  <div id="close"><% if session[:return] %>
      <%= link_to t("promote.back") {session[:return][0]}, session[:return][1] %>
    <% end %></div>

  <%= render "campaign" %>

  <% if @post.errors.any? %>
    <ul id="posts_messages">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>

  <div id="fb_container" class="post_container">
    <%= render :partial => "form", :locals => {:post => @post, :channel => Channel::Facebook} %>
  </div>
  <div id="tw_container" class="post_container">
    <%= render :partial => "form", :locals => {:post => @post, :channel => Channel::Twitter} %>
  </div>

  <!--div id="in_container" class="post_container">
    <%#= render :partial => "form", :locals => {:post => @post, :channel => Channel::LinkedIn} %>
  </div-->
<div class="step" style="text-align:left;">
    <h4>
      <%= link_to t("promote.see"), campaign_posts_path(@campaign.id) %>
    </h4>
  </div>
<%#= button_to_function "Compartir", "$('form').submit()" %>

</div>

<script type="text/javascript">

  $(document).ready (function () {

    $("input[name='time']").change(function() {
      switch ($(this).val())
      {
        case '1':
          $("#daily_area").hide();
          $('input[name=foo]').attr('checked', false);
          break;
        default:
          $("#daily_area").show();
      }
    });
  });
</script>
