<style type="text/css">
#content #detail #desc #root {
  background-color: #BBB895;
}
</style>
<div id="campaing" style="width:785px;">
<h3><%=  t("mycamp.active.title") %></h3>
<br /><br />
<table class="tabla" border="0" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <%= content_tag :th, t("mycamp.active.campaign") , :alt => "tooltip",:title => t("mycamp.active.tool.campaign")%>
      <%= content_tag :th, t("mycamp.active.begin") , :alt => "tooltip",:title => t("mycamp.active.tool.begin") %>
      <%= content_tag :th, t("mycamp.active.end") , :alt => "tooltip",:title => t("mycamp.active.tool.end") %>
      <!--th>Tipo</th-->
      <%= content_tag :th, t("mycamp.active.click") , :alt => "tooltip",:title => t("mycamp.active.tool.click") %>
      <%= content_tag :th, t("mycamp.active.hits") , :alt => "tooltip",:title => t("mycamp.active.tool.hits") %>
      <%= content_tag :th, t("mycamp.active.promo") , :alt => "tooltip",:title => t("mycamp.active.tool.promo") %>
      <%= content_tag :th, t("mycamp.active.budget") , :alt => "tooltip",:title => t("mycamp.active.tool.budget") %>
      <%= content_tag :th, t("mycamp.active.cons") , :alt => "tooltip",:title => t("mycamp.active.tool.cons") %>
      <th colspan="3"><%=  t("mycamp.active.action") %></th>
    </tr>
  </thead>
  <tbody id="mycamps">
    <% if !@active_campaigns.nil? %>
      <% for campaign in @active_campaigns %>
        <tr id="row_<%= campaign.id %>" style="border-bottom:solid; border-bottom-width: 1px; border-bottom-color: #09F;">
          <td><%= link_to detailed_campaign_path(campaign.id) do %>
                <%= raw campaign.name %>
              <%  end %>
          </td>

          <td><%= campaign.begin_date || "-" %> </td>


            <td><%= campaign.have_end_date ? campaign.end_date : "-" %> </td>

          <td>  <%= campaign.landing_page_hits.count %> </td>
          <td>  <%= campaign.client_page_hits.count %> </td>
          <td>  <%= campaign.chains.count %> </td>
          <td> <%= number_to_currency(campaign.budget.try(:total) , :unit => "$", :format => "%u%n")  %> </td>
          <td> <%= number_to_currency(campaign.budget.try(:spent), :unit => "$", :format => "%u%n")  %> </td>

          <td colspan="3">

            <%=  link_to image_tag("Page-Edit.png", :title => t("mycamp.active.tool.edit")), edit_campaign_path(campaign.id) %>

            <%= link_to image_tag("Delete-16.png", :title => t("mycamp.active.tool.delete")),"#", :onclick => "openRemoveCampaign(#{campaign.id})"  %>

            <%= link_to image_tag("Comment-16.png", :title => t("mycamp.active.tool.comm")), campaign_posts_path(campaign.id)%>

            <% link_to detailed_campaign_path(campaign.id) do %>
             <%= image_tag "Chart-Column.png", :title => t("mycamp.active.tool.stats")%>
            <% end %>

          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody >
</table>

</div>


<script type="text/javascript">
  $(document).ready(function()  {
        $("#tree").show();
  });

  function openRemoveCampaign (id) {
    var r=confirm("¿Seguro que deseas desactivar esta campaña?");
    if (r==true)
    {
      removeCampaign(id);
      $("#row_"+id).remove();
    }
  }

  function removeCampaign(id) {
    $.ajax(
    {data:'_method=delete' + '&authenticity_token=' + encodeURIComponent('<%=  form_authenticity_token  %>'),
      dataType:'script',
      type:'post',
      url:'/campaigns/'+id})
  }

  function toggle (campaign_id) {
    $(".campaign_charts").hide();
    $("#more_"+campaign_id).toggle();
    $("#charts_"+campaign_id).toggle();
    retrieveDataForCharts(campaign_id);
  }

</script>



