<div id="campaing" style="width:785px;">

  <h3><%=  t("create.step.one.title") %></h3>
  <ul id="pasos">
    <li id="pasoapaso" style="width:75px;"><%=  t("create.steps.five") %></li>
    <li id="pasoapaso"><%=  t("create.steps.four") %></li>
    <li id="pasoapaso"><%=  t("create.steps.three") %></li>
    <li id="pasoapaso"><%=  t("create.steps.two") %></li>
    <li id="pasoapaso"><%=  t("create.steps.one") %></li>
  </ul>
  <!--<%= image_tag 'step1.png', :alt => "tooltip", :width => "447",  :height => "35",  :border => "0", :align => "top", :class => "steps" %>-->
  <br /><br />

  <%= form_for @campaign, :as => :campaign, :url => campaigns_path, :method => :post,
    :html => { :id => "campaings", :multipart => true } do |f| %>

    <%= hidden_field_tag "save_and_next", "yes" %>
    <%= hidden_field_tag(:campaign_id, @campaign.id) if @campaign.id %>

    <div style="width:49%; float: left">
      <% if @campaign.errors.size > 0  %>
        <div class="flash_error" id="first_step_error">
          <%= errors_for(@campaign).html_safe %>
        </div>
      <% end %>

      <ul>
        <h4><%= f.label :name, t("create.step.one.name") , :size => "30"%> <%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tname") %></h4>
        <li> <%= f.text_field :name, :size => "30"  %></li><br />

        <h4><%= f.label :logo, t("create.step.one.logo") %> <%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tlogo") %></h4>
        <li>
          <span><%=  t("create.step.one.logotext") %></span>
          <%= select_tag :logo_source, t("create.step.one.logovalue").html_safe %>
          <div id="from_file" class="from_box">
            <span><b><%=  t("create.step.one.logotype") %>:</b><%= f.file_field :logo  %></span>

            <!-- span id="campaign_logo_file_name" -->
            <span id="campaign_logo_file_size"/>
            <span id="campaign_logo_file_type"/>
          </div>
          <div id="from_url" style="display:none" class="from_box" >
            <span><b>URL:</b><%= f.text_field :logo_url, :size => 50 %></span>
          </div>

          <div id="logo_img">
            <%= image_tag @campaign.logo.url, :height => 50, :width => 50, :onerror => "$(this).hide()"  unless @campaign.new_record? %>
          </div>
        </li><br />

        <br style="clear:both"/>

        <h4><%= f.label :begin_date, t("create.step.one.begin") , :size => "30"%> <%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tbegin") %></h4>
        <li>
          <%= f.date_select :begin_date  %>
        </li><br />
        <li>
          <div id="end_date_checkbox">
            <h4><%= f.label :end_date, t("create.step.one.end") , :size => "30"%><%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tend") %></h4>
            (<%=  t("create.step.one.endyes") %> <%= f.check_box :have_end_date, :id => "have_end_date" %> )

          </div>
          <div id="select_end_date" style="display:none">

            <%= f.date_select :end_date, :default => Time.now + 86400  %>
          </div>
        </li><br />
      </ul>

    </div>
    <div style="width:49%; height: 371px; float: left">
      <ul>
        <h4> <%= f.label :description, t("create.step.one.desc") %> <%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tdesc") %></h4>
        <li><%= f.text_area :description, :cols => 30 , :rows => 5 %><br />
          <div id="contador"><%=  t("create.step.one.have") %> <strong><span id="description_chars"></span></strong> <%=  t("create.step.one.left") %>.</div>
        </li><br /><br />
        <h4> <%= f.label :default_message, t("create.step.one.msg") %> <%= image_tag 'tooltip.png', :alt => "tooltip", :width => "20",  :height => "20",  :border => "0", :align => "absmiddle", :title => t("create.step.one.tmsg") %></h4>
        <li>
          <%= f.text_area :default_message, :cols => 30 , :rows => 5  %><br/>
          <div id="contador"><%=  t("create.step.one.have") %> <strong><span id="default_message_chars"></span></strong> <%=  t("create.step.one.left") %>.</div>
        </li>
      </ul>
    </div>

    <div class="step">
      <%= f.submit t("create.save"), :class=> "save", :onclick => "$('#save_and_next').val('no')" %>
      <%= f.submit t("create.savenext"), :class=> "savenext", :onclick => "$('#save_and_next').val('yes')"  %>
      <% if @campaign.valid? %>
        <%= link_to t("create.next"), step_categories_path(:campaign_id => @campaign.id), :class => "next" %>
      <% end %>
    </div>
  <% end %>

</div>


<script type='text/javascript'>

  $(document).ready(function(){
    $('#logo_source').change(showLogoSourceUploader);
    $('#have_end_date').change(showSelectEndDate);
    if ($("#have_end_date").is(":checked") == true) {
      $("#select_end_date").show();
    }

    $("#campaign_description").limit(210, "#description_chars")
    $("#campaign_default_message").limit(120, "#default_message_chars")

  });

  function showSelectEndDate(event) {
    $("#select_end_date").toggle('clip');
  }

  function showLogoSourceUploader () {
    var option = $('#logo_source :selected');
    switch (parseInt(option.val())) {
      case 1:
        $("#from_file").show("slow");
        $("#from_url").hide("fast");
        $("#campaign_logo_url").attr("value","")
        break;
      case 2:
        $("#from_url").show("slow");
        $("#from_file").hide("fast");
        $("#campaign_logo").attr("value","")
        break;
      default:
        $("#from_url").hide("fast");
        $("#from_file").hide("fast");
        break;
    }
  }
</script>
