 <div id="loginsoc">
  <h2><%= t "registersoc" %> </h2>
  <p style="text-align: left">
    <%= link_to (image_tag("tw32.png", :alt => "tipdem en Twitter", :size => "32x32", :title => t("registration.with_tw"), :align => "absmiddle")), omniauth_authorize_path(resource_name, :twitter) %>
    <%= link_to (image_tag("fb32.png", :alt => "tipdem en Facebook", :size => "32x32", :title => t("registration.with_fb"), :align => "absmiddle")), omniauth_authorize_path(resource_name, :facebook) %>
    <%#= link_to (image_tag("in32.png", :alt => "tipdem en LinkedIn", :size => "32x32",
    :title => t("registration.with_in"), :align => "absmiddle")),
    user_omniauth_authorize_path(:linkedin)  %>
  </p>

  <p>
    <%- if controller_name != "sessions" %>
      <%= link_to t("devise.sessions.link"), new_session_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != "registrations" %>
      <%= link_to t("devise.registrations.link"), new_registration_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != "passwords" %>
      <%= link_to t("devise.passwords.link"), new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
    <% end -%>
  </p>
</div>