<% content_for(:head) do %>
  <%= stylesheet_link_tag 'fb_styles.css', :rel=> 'stylesheet' %>
  <%= stylesheet_link_tag 'panel_style.css', :rel=> 'stylesheet' %>
  <%= javascript_include_tag 'pag_script' %>
  <style type="text/css">
    #content #detail #desc #inicio {
      background-color: #BBB895;
    }
  </style>
<% end %>

<div id="campaing" style="overflow: hidden;">
  <div id="vigentes"><h3><%=  t("current.title") %></h3></div>
  <div id="campaign_details"></div>
  <ul>
    <% if @campaigns.empty? %>
      <span class="no_disponibles"><%=  t("current.empty") %></span>
    <% else %>
      <% for campaign in @campaigns  %>
        <li id="promo">
          <div id="pict"><%= image_tag campaign.logo.url(:small),  :width => "100", :height => "100"  %></div>
          <div id="data">
            <div id="info">
              <p><strong><%= raw campaign.name %></strong><br />
                <%= raw campaign.description %></p>
            </div>
            <div id="more">
              <div id="btn"><%= link_to (t("current.promote")), go_campaign_tips_path(campaign.id) %></div>
              <div id="cash"><%=  t("current.earn") %> <span id="money"><%=  number_to_currency(campaign.pay, :unit => "$", :format => "%u%n") %>  </span> <%=  t("current.type") %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>


</div>
<div id="extra">
  <%= render :partial => 'shared/collected_amount' %>
  <div id="cats"><p><%=  t("categories.text") %></p>
    <div class="btn">
      <% link_to edit_user_categories_path(current_user) do %><div class="sbtn" id="datos"><%=  t("categories.button") %></div><% end %>
    </div>
  </div>
</div>
<div id="paginate">
  <%= paginate @campaigns %>
</div>

<% content_for :bottom  do %>

  <script type="text/javascript">
    function setPromoteCookie(id) {
      $.cookie('promote', id);
    }

    $(document).ready(function() {
      campaign_id = $.cookie('promote');
      if (campaign_id) {
        $.ajax(
        {data:'&authenticity_token=' + encodeURIComponent('<%=  form_authenticity_token  %>'),
          success:function(request){
            $('#campaign_details').html(request);
          },
          type:'post',
          url:"<%= url_for :controller => :post_forms, :action => :new, :layout => 'false'%>&campaign_id="+campaign_id
        })
      }




    });
  </script>

<% end %>

