<div id="campaing" style="overflow: hidden;">
  <div id="vigentes">
    <h3><%=  t("current.title") %></h3>
  </div>

  <div id="campaign_details"></div>

  <ul>
    <% if @campaigns.empty? %>
      <span class="no_disponibles"><%=  t("current.empty") %></span>
    <% else %>
      <% for campaign in @campaigns  %>
        <li id="promo">
          <div id="pict"><%= image_tag campaign.logo.url(:small),  :width => "100", :height => "100"  %></div>
          <div id="data">
            <div id="info">
              <p><strong><%= raw campaign.name %></strong><br />
                <%= raw campaign.description %></p>
            </div>
            <div id="more">
              <div id="btn"><%= link_to (t("current.promote")), go_campaign_posts_path(campaign.id) %></div>
              <div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="extra">
  <div id="cats"><p><%=  t("categories.text") %></p>
    <div class="btn">
      <%= link_to edit_user_categories_path(current_user) do %><div class="sbtn" id="datos"><%=  t("categories.button") %></div><% end %>
    </div>
  </div>
</div>
<div id="paginate">
  <%= paginate @campaigns %>
</div>

