<div id="campaing">

<h3>Ingresa tu cuenta de DineroMail</h3><br /><br/>


<% form_for([@user, @dinero_mail_account]) do |f| %>

  
    <%= f.error_messages %>
    <p style="color: Red" id="dm_error"></p>
    <p>
    <h4><%= f.label :email  %></h4>
    </p>
    <p>
      <%= f.text_field :email, :size => 40 %>
    </p>
<div style="margin-top:15px; margin-left:120px;">
      <%= f.submit "Vincular", :class => "awesome blue" %>
    </div>
    <br/>
    <p>Si no posees una cuenta,
      <%= link_to "regístrate", "https://ar.dineromail.com/Register/Create", :target => "_blank", :popup => true %>
      en Dinero Mail.
    </p>
  
<% end %>
</div>