<div id="campaing">
  <h3><%=  t("mynet.title") %></h3><br /><br />
  <h4><%=  t("mynet.socnet") %></h4>

  <br /><br />
  <div id="icons">
    <p><%= image_tag 'tw64.png', :height => '64', :align =>'absmiddle', :title =>'Twitter' %></p>

    <% if current_user.twitter  %>
      <p><%= link_to t("mynet.unlink"), user_omniauth_authorize_path(:twitter), :confirm => "¿Está seguro?", :method => :delete %></p>
    <% else %>
      <p><%= link_to t("mynet.link"), user_omniauth_authorize_path(:twitter) %></p>
    <% end %>
  </div>

  <div id="icons">
    <p><%= image_tag 'fb64.png', :height => '64', :align =>'absmiddle', :title =>'Facebook'  %></p>

    <% if current_user.facebook %>
      <p>
      <%= link_to t("mynet.unlink"), user_omniauth_authorize_path(:facebook), :confirm => "¿Está seguro?", :method => :delete %></p>
    <% else %>
      <%= link_to t("mynet.link"), user_omniauth_authorize_path(:facebook) %></p>
    <% end %>
  </div>


    <% if false %>
          <div id="icons">
            <p><%= image_tag 'in64.png', :height => '64', :align =>'absmiddle', :title =>'LinkedIn' %></p>


              <% if current_user.linked_in %>
                <p><%= link_to t("mynet.unlink"), user_omniauth_authorize_path(:linkedin), :confirm => "¿Está seguro?", :method => :delete %></p>
              <% else %>
                <p><%= link_to t("mynet.link"), user_omniauth_authorize_path(:linkedin) %></p>
              <% end %>
          </div>
  <% end %>

</div>

<script type="text/javascript">
  $(document).ready(function()  {
    $("#tree2").delay(500).slideToggle(100);
  });
</script>
